/** CSS STYLE **/
@font-face {
  font-weight: 400;
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-weight: 400;
  font-family: 'Neucha';
  font-style: normal;
  font-display: swap;
  src: url(//fonts.gstatic.com/s/neucha/v12/q5uGsou0JOdh94bfuQltOxU.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

:root {
  --white: #fff;
  --transp-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --transp-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  color: var(--dark);
  font: 16px/1.6em 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;

  font-weight: normal;

  font-family: 'Neucha', cursive;

  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  position: relative;

  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.btn {
  display: inline-block;

  padding: 12px 24px;

  text-decoration: none;
}

.btn-yellow {
  color: var(--white);

  background: var(--primary);
}

.clr-yellow {
  color: var(--primary);
}

.text-right {
  text-align: right;
}

header {
  position: relative;

  min-height: 580px;

  background-color: var(--light);
}

header::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;

  background: url(../images/background.png) no-repeat center / cover;
  opacity: 0.1;

  content: '';
}

header h1 {
  position: absolute;
  z-index: 200;
}

header img {
  position: relative;
  top: -100px;
  right: -270px;
  z-index: 100;

  margin-bottom: -100px;
}

.header-desc {
  position: relative;
  z-index: 200;

  display: flex;
  flex-wrap: wrap;

  margin: 0 -15px;
  margin-bottom: 38px;
}

.header-desc article {
  flex-basis: 50%;
  padding: 0 15px;
}
