/** CSS STYLE **/

/* -- Fonts */

/* Open Sans cyrillic */
@font-face {
  font-weight: 400;
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* Open Sans latin */
@font-face {
  font-weight: 400;
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Neucha cyrillic */
@font-face {
  font-weight: 400;
  font-family: 'Neucha';
  font-style: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/neucha/v12/q5uGsou0JOdh94bfuQltOxU.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* Neucha latin */
@font-face {
  font-weight: 400;
  font-family: 'Neucha';
  font-style: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/neucha/v12/q5uGsou0JOdh94bfvQlt.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* end Fonts -- */

:root {
  --white: #fff;
  --transp-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --transp-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

/* Tag styles */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  color: var(--dark);
  font: 16px/1.6em 'Open Sans', sans-serif;
}

h1,
.style-h1,
h2,
.style-h2,
h3,
.style-h3,
h4,
.style-h4,
h5,
.style-h5,
h6,
.style-h6 {
  margin: 0;
  padding: 0;

  font-weight: normal;

  font-family: 'Neucha', cursive;

  line-height: 1.2em;
}

h1,
.style-h1 {
  font-size: 72px;
}

h2,
.style-h2 {
  font-size: 60px;
}

h3,
.style-h3 {
  font-size: 34px;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  outline: none;
}

a {
  color: var(--blue);
}

/* end Tag styles -- */

/* -- Default classes */
.container {
  position: relative;

  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.container-input {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  display: inline-block;

  padding: 12px 24px;

  text-decoration: none;
}

.btn-yellow {
  color: var(--white) !important;

  background: var(--primary) !important;
}

.clr-yellow {
  color: var(--primary) !important;
}

.clr-white {
  color: var(--white) !important;
}

.text-right {
  text-align: right !important;
}

.text-size-12 {
  font-size: 12px;
}

.p-50 {
  padding: 50px;
}

.pt-100 {
  padding-top: 100px;
}

.align-items-center {
  align-items: center;
}

.bg-questions {
  position: relative;
  z-index: 100;
}

.bg-questions::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;

  background: url(../images/background.png) no-repeat center / cover;
  opacity: 0.1;

  content: '';
}

.bg-dark {
  background: var(--primary-dark);
}

.row {
  display: flex;
  flex-wrap: wrap;

  margin: 0 -15px;
}

.row-title {
  margin: 100px 0 20px;
  padding: 4px 8px;

  font-weight: 700;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.col-50 {
  flex-basis: 50%;
  flex-grow: 1;
  padding: 0 15px;
}

/* end Default classes -- */

/* -- Elements */
.header-top {
  min-height: 580px;
  overflow: hidden;

  background-color: var(--light);
}

.header-top h1 {
  position: relative;
  z-index: 200;

  margin-bottom: 180px;
}

.header-top img {
  position: absolute;
  top: 0;
  right: -270px;
  z-index: 100;

  margin-bottom: -100px;
}

.section-dark {
  color: var(--white);

  background-color: var(--primary-dark);
}

.section-video {
  position: relative;
  z-index: 200;

  margin-bottom: -200px;
  margin-top: -20px;
}

.section-video h1 {
  margin-bottom: 30px;
  line-height: 1.1em;
}

.section-video p {
  margin-bottom: 35px;
}

.section-video iframe {
  display: block;
  max-width: 100%;
  margin: 0 auto;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.main-nav {
  display: flex;

  flex-wrap: wrap;

  margin: 0 -15px;
  padding: 90px 0 0;

  list-style: none;

  counter-reset: section;
}

.main-nav li {
  display: flex;

  flex-basis: 33.3333%;
  flex-grow: 1;

  padding: 10px 15px;

  text-decoration: none;
}

.main-nav li a {
  text-decoration: none;
}

.main-nav li.nav-header .style-h2 {
  color: var(--white);

  font-size: 52px;
}

.main-nav li.nav-item a {
  padding: 24px;

  color: var(--dark);

  background: var(--light);
}

.main-nav li.nav-item a::before {
  display: block;

  margin-bottom: 20px;

  font-size: 64px;
  font-family: 'Neucha', cursive;
  line-height: 1;

  content: counter(section);
  counter-increment: section;
}

.main-nav li.nav-item a h3 {
  color: var(--primary);
}

.main-nav li.nav-item a:hover {
  color: var(--white);

  background: var(--primary);
}

.main-nav li.nav-item a:hover h3 {
  color: var(--white);
}

.section-light {
  background: var(--light);
}

.section-brown {
  color: var(--white);

  background: var(--brown);
}

.section-image {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.section-title {
  margin-bottom: 24px;

  line-height: 1.2;
}

.section-title::before {
  display: block;

  font-size: 24px;

  content: 'Когнитивные искажения';
}

.section-light h2::before {
  color: var(--transp-dark);
}

.section-light .row-title {
  color: var(--white);

  background: var(--brown);
}

.section-brown .row-title {
  color: var(--primary-dark);

  background: var(--white);
}

.cognitive-type.section-brown .container .row:first-child {
  flex-direction: row-reverse;
}

.form-subscripe {
  line-height: 2.2em;
}

.form-subscripe label {
  font-weight: 700;
  font-size: 18px;
}

.form-subscripe input {
  flex-grow: 1;

  height: 50px;

  padding: 15px;

  font-size: 18px;

  background: var(--white);

  border: none;
}

.form-subscripe input::placeholder {
  color: var(--transp-white);
}

.form-subscripe button {
  width: 70px;
  height: 50px;

  padding: 15px;

  background: var(--primary);

  border: none;
}

.form-subscripe p {
  margin: 0;
}

/* end Elements -- */
