/** CSS STYLE **/

/* cyrillic */
@font-face {
  font-weight: 400;
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-weight: 400;
  font-family: 'Neucha';
  font-style: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/neucha/v12/q5uGsou0JOdh94bfuQltOxU.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-weight: 400;
  font-family: 'Neucha';
  font-style: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/neucha/v12/q5uGsou0JOdh94bfvQlt.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --white: #fff;
  --transp-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --transp-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  color: var(--dark);
  font: 16px/1.6em 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;

  font-weight: normal;

  font-family: 'Neucha', cursive;

  line-height: 1.2em;
}

h1,
.size-h1 {
  font-size: 72px;
}

h2,
.size-h2 {
  font-size: 60px;
}

h3,
.size-h3 {
  font-size: 34px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;

  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.btn {
  display: inline-block;

  padding: 12px 24px;

  text-decoration: none;
}

.btn-yellow {
  color: var(--white) !important;

  background: var(--primary) !important;
}

.clr-yellow {
  color: var(--primary) !important;
}

.text-right {
  text-align: right !important;
}

header {
  min-height: 580px;

  background-color: var(--light);
}

header h1 {
  position: relative;
  z-index: 200;

  margin-bottom: 180px;
}

header img {
  position: absolute;
  top: 0;
  right: -270px;
  z-index: 100;

  margin-bottom: -100px;
}

.header-desc {
  position: relative;
  z-index: 200;

  margin-bottom: 38px;
}

.bg-image {
  position: relative;
  z-index: 100;
}

.bg-image::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;

  background: url(../images/background.png) no-repeat center / cover;
  opacity: 0.1;

  content: '';
}

.row {
  display: flex;
  flex-wrap: wrap;
  
  margin: 0 -15px;
}

.row-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 4px 8px;
  margin: 100px 0 20px;
}

.col-50 {
  flex-basis: 50%;
  padding: 0 15px;
}

.section-dark {
  color: var(--white);

  background-color: var(--primary-dark);
}

.section-video {
  position: relative;
  z-index: 200;
  margin-bottom: -200px;
}

.section-video h1 {
  margin-bottom: 30px;
}

.section-video p {
  margin-bottom: 30px;
}

.section-video iframe {
  display: block;
  margin: 0 auto;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.main-nav {
  display: flex;

  flex-wrap: wrap;

  margin: 0 -15px;
  padding: 90px 0 0;

  list-style: none;

  counter-reset: section;
}

.main-nav li {
  display: flex;

  width: 33.3333%;

  padding: 10px 15px;

  text-decoration: none;
}

.main-nav li a {
  text-decoration: none;
}

.main-nav li.nav-header h2 {
  color: var(--white);

  font-size: 52px;
}

.main-nav li.nav-item a {
  padding: 24px;

  color: var(--dark);

  background: var(--light);
}

.main-nav li.nav-item a::before {
  display: block;

  margin-bottom: 20px;

  font-size: 64px;
  font-family: 'Neucha', cursive;
  line-height: 1;

  content: counter(section);
  counter-increment: section;
}

.main-nav li.nav-item a h3 {
  color: var(--primary);
}

.main-nav li.nav-item a:hover {
  color: var(--white);

  background: var(--primary);
}

.main-nav li.nav-item a:hover h3 {
  color: var(--white);
}

.section-light {
  background: var(--light);
}

.section-brown {
  color: var(--white);
  background: var(--brown);
}

.cognitive-type img {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.cognitive-type h2::before {
  font-size: 24px;
  
  display: block;
  
  content: 'Когнитивные искажения';
}

.cognitive-type.section-light h2::before {
  line-height: 1.2em;
  color: var(--transp-dark);
}

.cognitive-type.section-light .row-title {
  background: var(--brown);
  color: var(--white);
}

.cognitive-type.section-brown .row-title {
  background: var(--white);
  color: var(--primary-dark);
}

.cognitive-type.section-brown .container .row:first-child {
  flex-direction: row-reverse;
}